authenticate_service_url: https://authenticate.example.com
authorize_service_url: https://authorize.example.com

idp_provider: google
idp_client_id: yyyyyyyyyyyyyyyyy
idp_client_secret: xxxxxxxxxxxxxx


{{ .Policy }}